/*====Login Page Styles====*/
body {
	color: white;
	background-color: #336666;
}

/*The box surrounding the entire login portion of the screen*/
#content-box {
	border: 10px solid white;
	border-radius: 10px;
	width: 500px;
	padding: 20px;
}

/*The "Welcome to HHMS" Text on top of the Login Request*/
#welcome-text {
	font-size: 50px;
}

/*The actual box to click for logging in*/
#login-box {
	text-align: center;
	vertical-align: middle;
	border: 4px solid white;
	border-radius: 4px;
	width: 150px;
	height: 70px;
	font-size: 42px;
	margin-left: 170px;
	margin-top: 25px;
	padding: 6px;
	padding-bottom: 8px;
	cursor: pointer;
	background-color: #336666;
}

/*On hover change the color scheme*/
#login-box:hover {
	color: #336666;
	background-color: white;
}

/*The copyright information at the bottom of the screen*/
#copyright {
	width: 600px;
	position: absolute;
	bottom: 10px;
	margin-left: 25px;
}

/*The username and password fields*/
.input-field {
	width: 250px;
	height: 50px;
	font-size: 30px;
	margin-left: 120px;
	margin-bottom: 3px;
	padding: 10px;
	border-radius: 4px;
	border-style: hidden;
	color: black;
}

/*Remove blue outline around input field*/
.input-field:focus {
	outline: none;
}