/*Website-wide Styles*/
body {
	height: 100%;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
}

/*Centers an element vertically*/
.centered-vertical {
	margin: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/*Centers an element horizontally*/
.centered-horizontal {
	width: 50%;
	margin: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/*Centers an image both vertically and horizontally*/
.centered {
	width: 50%;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}