<html>
  <head>
    <link rel="stylesheet" href="media/css/style.css">
  </head>
  <body class="dailyView">
    <div class="header"><img id="logo" src="media/img/logo.gif">Harker Homework Management System 2.0 
      <span id="accountInfo">Hi, Andrew Tierno! <br> Not you? <a href="index.html">Logout</a></span>
    </div>
    <div id="assignmentHead">Assignments for the week of February 1st, 2015 <br>
      <a href="last">Last Week</a> <span style="font-size:10px">/</span> <a href="next">Next Week</a></div> <br><br>
  </body>
</html>
