{% load get_range %}
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="media/css/style.css">
    </head>
    <body class="weeklyView">
	<div class="header"><img id="logo" src="media/img/logo.gif">Harker Homework Management System 2.0 
	    <span id="accountInfo">Hi, {{ name }}! <br> Not you? <a href="/">Logout</a></span>
	</div>
	<div id="assignmentHead">Assignments for the week of February 1st, 2015 <br>
	    <a href="last">Last Week</a> <span style="font-size:10px">/</span> <a href="next">Next Week</a></div> <br><br>
	<table id="headerTable">
	    <tr>
		<th style="border-left: 1px solid;border-right: 1px solid"></th>
		<th>Monday, Feb. 2</th>
		<th>Tuesday, Feb 3</th>
		<th>Wednesday, Feb 4</th>
		<th>Thursday, Feb 5</th>
		<th>Friday, Feb 6</th>
		<th>Later</th>
	    </tr>
	</table>
	<table id="innerTable">
	    {% for i in homework %}
	        <tr>
		    <th>{{ i.0 }}</th>
		    {% for j in i|slice:"1:" %}
		        <td>
		        {% for k in j %}
		            {{ k.1 }} ({{ k.0 }}): <br><br>
			    &nbsp;&nbsp;&nbsp;&nbsp;{{ k.2 }} <br><br><br><br>
			{% endfor %}
			</td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	</table><br>
	<div class="weeklyView" id="copyright"> Copyright (c) 2015 by Andrew Tierno and Vedaad Shakib. All rights reserved.</div>
    </body>
</html>
